.main-container {
  height: 65px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #e5e0f3;
  border-radius: 10px;
  padding: 5px;
}

.smile-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}

.vote-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px;

}

.vote-score {
  font-size: 22px;
  font-weight: bold;
  color: rgb(156, 86, 248);
}