.form {
  width: 400px;
  height: 400px;

  background: #a9d0bb;

  border-radius: 10px;
  margin: 25px;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin: 5px;
}
